
<nav class="navbar">
  <!-- Articles Menu -->
  <a routerLink="/articles" routerLinkActive="active">Articles</a>

  <!-- Authentication Section -->
  <div class="auth-section">
    <!-- Management Dropdown (Visible only if user is admin) -->
    <div class="dropdown" *ngIf="isAdmin">
      <button class="dropdown-btn">Management</button>
      <div class="dropdown-content">
        <a routerLink="/admin/manage/user">User</a>
      </div>
    </div>

    <!-- Username and Logout -->
    <ng-container *ngIf="!isLoggedIn; else loggedIn">
      <a routerLink="/auth/login" routerLinkActive="active">Login</a>
    </ng-container>
    <ng-template #loggedIn>
      <div class="dropdown">
        <button class="dropdown-btn">{{ userName }}</button>
        <div class="dropdown-content">
          <a (click)="logout()">Logout</a> <!-- Logout Link -->
        </div>
      </div>
    </ng-template>
  </div>
</nav>

<div class="my-container">
  <router-outlet></router-outlet>
</div>