<div class="discover-container">
  <button 
  class="create-article-btn" 
  [routerLink]="['/articles/add']" 
  *ngIf="isAuthor">
  Create Article
</button>

  <!-- Header Section -->
  <div class="header">
    <h1>Discover</h1>
    <p>Step into a new zone, join a new conversation.</p>
  </div>
  
  <!-- Search Bar -->
  <div class="search-bar">
    <input
      type="text"
      placeholder="Search..."
      [(ngModel)]="searchText"
      (input)="onSearch()"
    />
    <select [(ngModel)]="filterType">
      <option value="articles">Articles</option>
      <option value="authors">Authors</option>
    </select>
  </div>
  
  <!-- Trending Keywords -->
  <div class="trending-keywords">
    <p>Trending Tags:</p>
    <span *ngFor="let keyword of tags" class="keyword">
      #{{ keyword.name }}
    </span>
  </div>
  
  <!-- Readers' Choice -->
  <div class="readers-choice">
    <h2>Readers' choice</h2>
    <div class="articles-container">
      <div class="article-card" *ngFor="let article of filteredArticles">
        <div class="article-thumbnail">
          <img [src]="article.thumbnailUrl" alt="{{ article.title }}" />
        </div>
        <div class="article-details">
          <a [routerLink]="['/articles', article.id]" class="article-title">
            <h3>{{ article.title }}</h3>
          </a>
          <p class="article-meta">By {{ article.authorName }} on {{article.publishDate }}</p>

          <button 
            class="view-comments" 
            (click)="navigateToComments(article.id)"
          >
            View Comments
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Rising Authors Section -->
  <div class="rising-authors">
    <h2>Rising authors</h2>
    <div class="authors-container">
      <div class="author-card" *ngFor="let author of authors">
        <div class="author-avatar">
          <img [src]="author.photoUrl" alt="{{ author.displayName }}'s photo">
        </div>
        <div class="author-details">
          <h3>{{ author.displayName }}</h3>
          <p>{{ author.speciality }}</p>
        </div>
        <button class="visit-btn" 
        (click)="navigateToAuthor(author.id)"
        >
        Visit
        </button>
      </div>
    </div>
  </div>
</div>