<div class="article-post-container">
  <h1>Create New Article</h1>
  
  <form (ngSubmit)="  onSubmit()">
    <!-- Title -->
    <label for="title">Title</label>
    <input
      id="title"
      type="text"
      [(ngModel)]="article.title"
      name="title"
      required
    />
    
    <!-- Author Name -->
    <label for="authorName">Author Name</label>
    <input
      id="authorName"
      type="text"
      [(ngModel)]="article.authorName"
      name="authorName"
      required
    />
     <!-- Category -->
     <label for="category">Category</label>
     <select id="category" [(ngModel)]="article.categoryId" name="category">
       <option *ngFor="let category of categories" [value]="category.id">
         {{ category.name }}
       </option>
     </select>
    <editor
  apiKey="a1oum8r6yfjuiky3swgj7g6gxr0aapl2n1l6x7gxxxiw3178"
  [(ngModel)]="article.content"
  name="content"
  [init]="{
    height: 300,
    menubar: false,
    plugins: [
      'advlist autolink lists link image charmap print preview anchor',
      'searchreplace visualblocks code fullscreen',
      'insertdatetime media table paste code help wordcount'
    ],
    toolbar:
      'undo redo | formatselect | bold italic backcolor | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist outdent indent | removeformat | help'
  }"
></editor>

    <!-- Thumbnail URL -->
    <label for="thumbnailUrl">Thumbnail URL</label>
    <input
      id="thumbnailUrl"
      type="url"
      [(ngModel)]="article.thumbnailUrl"
      name="thumbnailUrl"
    />

   

    <!-- Tags -->
    <label for="tags">Tags</label>
    <input
      id="tags"
      type="text"
      placeholder="Comma-separated tags"
      [(ngModel)]="article.tags"
      name="tags"
    />
    
    <!-- Submit Button -->
    <button type="submit" class="submit-btn">Submit</button>
  </form>
</div>
