<div class="author-details-container">
    <div class="author-header">
      <div class="author-photo">
        <img [src]="user.photoUrl" alt="Author's photo" class="author-image" />
      </div>
      <div class="author-info">
        <h2 class="author-name">{{ user.displayName }}</h2>
        <p class="author-bio">{{ user.bio }}</p>
        <p class="author-email">{{ user.email }}</p>
        <div class="followers-following">
          <span><strong>Followers:</strong> {{ user.followers.length }}</span>
          <span><strong>Following:</strong> {{ user.following.length }}</span>
        </div>
      </div>
    </div>
  </div>
  